<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>About Me</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <p>
          I am <b>ahmadabuhasan</b> with a passion for creating innovative
          mobile applications. My expertise lies in developing robust and
          user-friendly apps, utilizing the latest technologies and best
          practices.
        </p>
        <a href="/">Go back to the home page</a>
      </div>
    </main>

    <footer>
      <div class="container">
        &copy; Stackup Introduction to Back End Programming with NodeJS
      </div>
    </footer>
  </body>
</html>
